@charset "utf-8";

@import url(normalize.css);
@import url(fonts.css);

.cont {
	margin: 0 auto;
	padding: 0 10px;
	width: 640px;
}

header {
	padding-bottom: 40px;

	.download {
		float: right;
		position: relative;
		top: -70px;
		font-size: 14px;

		a {
			border: solid #000 1px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
			border-radius: 5px;
			padding: 7px 20px;
			color: #fff;
			text-decoration: none;

			box-shadow: 0 0 2px rgba(0,0,0,0.4), 1px 1px 2px rgba(255,255,255,0.1) inset, -1px -1px 2px rgba(0,0,0,0.2);

			background: rgb(69,72,77); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
			background: linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

		}
	}

	nav {
		width: 100%;
		height: 40px;
		position: absolute;
		top: 100px;
		left: 0;
		background: rgba(0,0,0,0.8);
		line-height: 40px;

		ul {
			margin: 0 auto;
			padding-left: 0;
			width: 640px;

			li {
				display: inline-block;
				
				a {
					margin: 0 8px;
					color: #fff;
					font-size: 14px;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

h2 {
	padding-top: 20px;
}

.carousel {

	.carousel_indicator {
		padding-top: 5px;
		text-align: center;

		span {
			margin: 0 2px;
			border-radius: 5px;
			display: inline-block;
			width: 10px;
			height: 10px;
			background: #888;
			text-indent: -1000em;

			&.active {
				background: #000;
			}
		}
	}

	.btns {
		text-align: center;
	}
}

#carousel_1,
#carousel_4 {
	margin: 0 auto;
	width: 600px;
	height: 150px;
	background: #efefef;
	overflow: hidden;

	.carousel_box {
		float: left;
		border: solid #fff 5px;
		width: 140px;
		height: 140px;
		color: #fff;
		background: #252525;
		line-height: 140px;
		text-align: center;
		font-size: 123%;
	}
}

#carousel_2,
#carousel_5 {
	margin: 0 auto;
	width: 600px;
	height: 140px;
	overflow: hidden;

	.carousel_box {
		width: 600px;
		height: 140px;
		color: #fff;
		background: #252525;
		line-height: 140px;
		text-align: center;
		font-size: 123%;

		&.second {
			background: #666;
		}
		&.third {
			background: #999;
		}
	}
}

#carousel_3 {
	margin: 0 auto;
	width: 600px;
	height: 150px;
	background: #efefef;
	overflow: hidden;

	.carousel_box {
		border: solid #fff 5px;
		width: 190px;
		height: 140px;
		color: #fff;
		background: #252525;
		line-height: 140px;
		text-align: center;
		font-size: 123%;
	}
}
